<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Search</title>
    <script>
        function searchTrains() {
            let routeName = document.getElementById('route_name').value;
            
            fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'route_name=' + encodeURIComponent(routeName),
            })
            .then(response => response.json())
            .then(data => {
                let resultsDiv = document.getElementById('results');
                resultsDiv.innerHTML = '';

                if (data.length === 0) {
                    resultsDiv.innerHTML = 'No trains found for the specified route.';
                } else {
                    data.forEach(train => {
                        let trainInfo = `<p>Train Number: ${train.trainNum}, Route Name: ${train.routeName}, Train ID: ${train.trainID}
                            &nbsp;&nbsp;&nbsp;&nbsp;Last Stop: ${train.LastStop}, Arrival Time: ${train.Arrival}</p>`;
                        resultsDiv.innerHTML += trainInfo;
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Search Trains by Route Name</h1>
    <h4>Popular routes include 'Empire Service' and 'Keystone'</h4>
    <p>Until a list is implemented further into development, a full list of Amtrak lines can be found 
        <a href="https://www.amtrak.com/train-routes" target="_blank">here</a></p>
    <form onsubmit="event.preventDefault(); searchTrains();">
        <label for="route_name">Route Name:</label>
        <input type="text" id="route_name" name="route_name" required>
        <button type="submit">Search</button>
    </form>

    <div id="results"></div>
</body>
</html>